@font-face {
  font-family: "Landasans";
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/LandasansMedium-ALJ6m.otf');
}

body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  text-align: center;
  font-size: 40px;
  font-family: "Landasans";
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 3%;
}

#operations li {
  font-size: 6vw;
  margin-bottom: 0
}

.field {
  width: 30%;
}

#level-message {
  margin-top: 12%;
  margin-bottom: 3%;
}

#level {
  margin-bottom: 4%;
}

#stats {
  margin-bottom: 5%;
  text-align: center;
  width: 75%;
  margin-left: 15%;
}

#welcome {
  font-size: 5vw;
  margin-bottom: 10%;
}

#problem {
  margin-top: 5%;
  font-size: 6vw;
}

#winner {
  margin-top: 11%;
  margin-bottom: 2%;
  font-size: 6vw;
  color: green;
}

#loser {
  margin-top: 11%;
  margin-bottom: 2%;
  font-size: 6vw;
  color: red;
}

.incorrect {
    color: red;
}

#skip-but {
  margin-left: 3%;
  font-size: 24px;
}

#answer {
  width: 20%;
  margin-left: 8%;
}

#mfade {
  margin-top: 2%;
  animation-duration: 5s;
  animation-name: mfade;
  opacity: 0%;
}

@keyframes mfade {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}
